body {
  padding: 0;
}
.title-fixed{
      height: 20%;
      position: fixed;
      width: 45%;
      border-bottom: 1px solid black
}
.body-fixed{
top: 25%;
height: 75%;
position: fixed;
width: 45%;
overflow-y: scroll;
}
.img-codeception {
    width: 10%;
    float: left;
    box-shadow: 1px 2px 2px rgba(14, 9, 9, 0.9), 2px -1px 9px rgba(0, 0, 0, 0.89);
}
.opacity {
    opacity: .5;
}
.issue,
.row::after {
    content: '.'
}

a:focus,
a:hover {
    color: rgb(158, 102, 102);
    text-decoration: none;
}

.bottom {
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.img-circle {
    border-radius: 10%;
}

.btn,
footer,
h1 {
    text-align: center
}

.opacity {
  margin-left: 50px;
    opacity: .5;
}

.issue,
.row::after {
    content: '.'
}

body {
    background-repeat: no-repeat;
    margin: 0
}

.nickName {
    margin-top: -7%;
}

.btn {
    display: inline-block;
    padding: 6px 9pt;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}



.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

* {
    box-sizing: border-box
}

p {
    font-family: sans-serif
}

h1 {
    background-repeat: space;
    font-size: 3em;
    font-variant: small-caps;
    letter-spacing: 20px
}

header {
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(244, 122, 167, .7)
}

.search {
    width: 100%;
    height: 30px
}

.img-codeception {
    width: 10%;
    float: left;
    box-shadow: 1px 2px 2px rgba(14, 9, 9, 0.9), 2px -1px 9px rgba(0, 0, 0, 0.89);
}

nav>ul>li>a {
    color: #191414;
    font-size: .8em;
    border-bottom: 2px solid #000;
    display: inherit;
    padding: 2%;
}

.issue,
form {
    display: block
}

nav>ul {
    list-style-type: none
}

footer {
    color: #444;
    border-top: 1px dashed #888;
    padding: 40px 0
}

.content {
    padding: 0 20px;
    margin-bottom: 5pc
}




nav>ul>li,
p {
    overflow-wrap: break-word
}

nav>ul,
nav>ul>li,
nav>ul>li>a {
    list-style-type: none;
    text-decoration: none
}

.no-decoration,
nav>ul,
nav>ul>li,
nav>ul>li>a {
    text-decoration: none
}

body,
h1 {
    font-family: 1em 'PT sans', Arial
}

.no-decoration {
    overflow-y: scroll;
    height: 75%;
    position: fixed;
    color: #4a1313;
    padding: 0;
    margin: 0;
    width: 20%;
    top: 25%;
}

.issue {
    border-radius: 4px;
    background: #b2dfdb;
    border: 1px solid;
    padding: 20px
}


.form-main {
    margin-top: 10%;
    margin-left: 20%
}

comments {
  content: 'Not comment';
  position: fixed;
  left: 66%;
  height: 55%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-bottom: 5px solid black;
  width: 34%;
}
write-comment {
right: 0%;
bottom: 0%;
height: 10%;
overflow: scroll;
min-height: 150px;
width: 32%;
    position: fixed;
}
.some{
  position: fixed;
  width: 80%;
}
issues {
    margin-left: 20px;
    position: fixed;
    left: 20%;
    height: 100%;
    width: 45%;
}

pages {
    position: fixed;
    top: 10%;
    left: 13.5%;
}

github {
    position:fixed;
    left: 3%;
    height: 20%;
}

.modal-foot {
    margin-top: 56px;
    padding: 15px;
    text-align: right;
    /* border-top: 1px solid #e5e5e5; */
}

.modal-head {
    min-height: 16.43px;
    padding: 15px;
    /* border-bottom: 1px solid #e5e5e5; */
}

.form-group>.col-sm-10 {
    margin-bottom: 20px;
}
